<mat-drawer-container class="container" autosize>

  <!-- main toolbar -->
  <mat-toolbar color="primary">
    <button mat-raised-button (click)="drawer.toggle()">
      <img src="../../assets/images/misc/d2icon.png" alt="">
    </button>
    <h1 id="main-heading">Dota 2 <span class="flicker-1">Shade</span></h1>
  </mat-toolbar>

  <!-- side nav -->
  <mat-drawer #drawer class="sidenav" mode="over" position="end">
    <app-player-selector></app-player-selector>
  </mat-drawer>

  <!-- render pages here -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
