@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

.player-icon {
  display: block;
  text-align: center;
  padding: 0 1em;

  img,
  button {
    max-width: 84px;
    text-align: center;
    padding: 0;
  }

  p {
    font-family: 'Rock Salt', cursive;
    text-shadow: 2px 2px #ff0000;
    transform: translateY(-35px);
  }
}

.cover1,
.cover2 {
  width: 64px;
  height: 64px;
  position: absolute;
  transform: translateY(-64px);
  border: 2px dashed white;
}

.cover1 {
  background: rgba(1, 5, 255, 0.7);
}

.cover2 {
  background: rgba(255, 1, 1, 0.7);
}
